body {
    font-family: 'Poppins', sans-serif;
}

.hero-section {
    display: flex;
    margin-left: 50px;
}

h1 {
    font-size: 50px;
}

.color {
    color: rgb(211, 66, 95);
}

.hero {
    width: 50%;
}

p {
    margin-bottom: 50px;
}

a {
    font-size: 20px;
    text-decoration: none;
    background-color: blue;
    padding: 10px;
    color: white;
}

img {
    width: 50%;
    height: auto;
    margin-left: 80px;
}